<div class="container-sm">
    <div class="row mt-5">
        <h1>
            Home
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="card">
                <h5 class="card-header">Getting Started</h5>
                <div class="card-body">
                    <p class="card-text">Here you can find a short introduction to this Server Dashboard and all its features. You could also go straight into the documentation.</p>
                    <div class="d-grid gap-2">
                        <a href="/docs/getting-started" class="btn btn-primary">Getting Started</a>
                        <a href="/docs" class="btn btn-secondary">Documentation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="card">
                <h5 class="card-header">Software Setup</h5>
                <div class="card-body">
                    <p class="card-text">Quickly set up or update the software or game on this server, with only a few clicks!</p>
                    <div class="d-grid gap-2">
                        <a href="/software/setup" class="btn btn-primary">Software Setup</a>
                        <a href="/software/update" class="btn btn-secondary">Software Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="card">
                <h5 class="card-header">Backups</h5>
                <div class="card-body">
                    <p class="card-text">Quickly restore a backup, without any hassle, if you set it up.</p>
                    <div class="d-grid gap-2">
                        <a href="/software/setup" class="btn btn-primary">Restore Backup</a>
                        <a href="/software/setup" class="btn btn-secondary">Setup Backups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>